# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
    * List popular languages for Data Science
    * Listt commonly used libraries used by Data Scientists
    * Table Data Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java

Some of the commonly used libraries used by Data Scientists include:
1. Panda
2. NumPy
3. Matplotlib

| Data Science Tools |
|--------------------|
|Jupiter Notebook    |
|R studio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60

Minutes = 200
Hours = 200/60
Hours

3.3333333333333335

## Author
Djelaili Abdelatif